@(title: String, callback: String)

@main(title, false) {

    <div class="page-header">
        <h1>Login <small>@title</small></h1>
    </div>

    <form class="form-horizontal" action="/login" method="POST">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">@Messages("generic.username")</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="username" id="username" placeholder="@Messages("generic.username")">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">@Messages("generic.password")</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password" id="password" placeholder="@Messages("generic.password")">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="remember" value="true"> @Messages("login.rememberMe")
                    </label>
                </div>
            </div>
        </div>
        <input type="hidden" name="callback" value="@callback">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <p><a href="/forgot">@Messages("login.recoverPassword")</a></p>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">@Messages("login.loginButton")</button>
            </div>
        </div>
    </form>

}
